<!--header-->
<div class="bar bar-header bar-royal">
    <h1 class="title">购物车</h1>
    <button class="button button-clear pull-right col-xs-offset-2">管理</button>
</div>
<!--section-->
<ion-scroll zooming="true" direction="y">
    <div class="content has-header ionic-pseudo">
        <div class="list">
            <div class="item item-checkbox every" ng-repeat="item in things" item="item" index="{{$index}}">
                <label class="checkbox" ng-click="checkFn($index)">
                    <span class="check" ng-class="{on:item.check}">√</span>
                </label>
                <a class="item item-thumbnail-left" href="#">
                    <img ng-src="{{item.img}}">
                    <h2>{{item.cont}}</h2>
                    <p>{{item.sort}}</p>
                    <p>￥{{item.price}}</p>
                    <p><b class="subtrct" ng-click="countFn('-',$index)">-</b><b class="quantity">{{item.num}}</b><b class="add" ng-click="countFn('+',$index)">+</b></p>
                    <span class="delete" ng-click="deleteFn(index)">&times;</span>
                </a>
            </div>
        </div>
    </div>
</ion-scroll>
<!--footer-->
<div class="total">
    <label class="checkbox checkAll" ng-click="checkAll()">
        <span ng-class="{on:flag}">√</span>
    </label>
    <button class="button button-light checkAll">全选</button>
    <button class="button" id="sum">合计：￥<i>{{total}}</i></button>
    <button class="button button-royal" id="closeBtn">结算(<b class="account">{{count}}</b>)</button>
</div>
<div class="tabs tabs-icon-top">
    <a class="tab-item" href="#">
        <i class="icon ion-home"></i>
        主页
    </a>
    <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        收藏
    </a>
    <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        设置
    </a>
</div>
