.tabs{
    background: #886AEA!important;
}
.tabs a i.icon{
    font-size: 28px;
    height: 30px;
}
.tabs a.tab-item{
    font-size: 13px!important;
    color: #fff;
}
.list .every span.check,.total span{
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;;
    display: block;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 20px;
}
.list .every span.on,.total span.on{
    border: 1px solid #387EF5;
    background: #387EF5;
}
.list .every a .subtrct,.list .every a .add{
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
}
.list .every a .quantity{
    width: 50px;
    height: 25px;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
}
.list .every a .delete{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #886AEA;
    color: #fff;
    text-align: center;
    line-height: 16px;
    position: absolute;
    top: -5px;
    right: -5px;
}
.total{
    width: 100%;
    height: 49px;
    line-height: 49px;
    background: #fff;
    position: absolute;
    bottom: 49px;
    left: 0;
    border-top: 1px solid #ccc;
}
.total .checkAll{
    float: left;
    margin-left: 8px;
}
.total .checkAll,.total #sum{
    float: left;
}
.total #closeBtn{
    float: right;
}